body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(95, 119, 144);
  color: rgb(36, 36, 39);
  height: 100px
}

.header {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}


nav {
  display: inline-block;
  margin-right: 50px;

}

ul, li {
  display: inline-block;
  margin-right: 50px;
}

a {
  color: rgb(156, 21, 21);
  text-decoration: none;
}

img {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.card-image {
  position: relative;
  width: 800px;
}

.card-overlay {
  display: flex;
  position: absolute;
  /* left: 10px; */
  width: 25%;
  bottom: 10%;
  font-size: larger;
  font-style: oblique;
  justify-content: center;
  border: 3px solid rgb(95, 119, 144);
  background-color: whitesmoke;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card-image:hover .card-overlay {
  opacity: 1;
}