body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(215, 230, 239);
}

body,
html {
  margin: 0;
  padding: 0;
}

.name-title {
  font-size: 38px;
  margin: 0;
}

.resume-title {
  display: flex;
  justify-content: center;
  font-size: 27px;
}

.artwork-title {
  display: flex;
  justify-content: center;
  font-size: 27px;
}


main {
  height: 100vh;
}



nav li {
  display: inline-block;
  margin-left: 50px;
}



header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(48, 127, 169, 0.5);
  background: linear-gradient(
    to bottom,
    rgba(48, 127, 169, 0.8) 0%,
    rgba(48, 127, 169, 0) 100%
  );
  color: Black;
  padding: 0.5rem 2rem;
}

.profile-pic {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-pic img {
  width: 200px;
  height: auto;
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 0 50px 10px rgba(0, 157, 255, 0.8);
}


.aboutSection {
  text-align: center;
  margin: 25px 20%;
}

#aboutimg {
  width: 75px;
  height: 70px;
  border-radius: 10px;;
}

#aboutimg:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}


#contactimg {
  width: 75px;
  height: 70px;
  border-radius: 10px;
}

#contactimg:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}


#resumeimg {
  width: 75px;
  height: 70px;
  border-radius: 10px;
}

#resumeimg:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}



#webpages {
  width: 75px;
  height: 70px;
  border-radius: 10px;
}

#webpages:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}

#artwork {
  width: 75px;
  height: 70px;
  border-radius: 10px;
}

#artwork:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}

.work-title {
  text-align: center;
}



.project-section {
  display: flex;
  justify-content: center;
}

.project-section img:hover, .card-1 img:hover {
  opacity: .75;
}

.project-section .card-1 img {
  display: flex;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  border: 3px solid rgba(48, 127, 169, 0.5);
}

.card-1 {
  position: relative
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 5px;
  background-color: rgb(215, 230, 239);
  border: 3px solid rgba(48, 127, 169, 0.5);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px
}

.card-2,
.card-3,
.card-4,
.card-5 {
  position: relative;
}

.card-5 {
  bottom: 400px;
}

.card-2 .overlay,
.card-3 .overlay,
.card-4 .overlay,
.card-5 .overlay  {
  width: 25%;
  height: 25%;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}



.grid img {
  width: 175px;
  height: 175px;
  border-radius: 50px;
  border: 3px solid rgba(48, 127, 169, 0.5);
  transition: filter 0.3s ease-in-out;
}


.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  margin-left: 20px;
}

.contact {
  text-align: center;
}

.contact ul {
  padding: 0;
}

.contact ul li {
  list-style-type: none;
  margin: 0 10px;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

#musicicon {
  width: 75px;
  height: 70px;
  border-radius: 10px;;
}

#musicicon:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}

#githubicon {
  width: 75px;
  height: 70px;
  border-radius: 10px;;
}

#githubicon:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}

#emailicon {
  width: 75px;
  height: 70px;
  border-radius: 10px;;
}

#emailicon:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}


#phoneicon {
  width: 75px;
  height: 70px;
  border-radius: 10px;;
}

#phoneicon:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transform: scale(1.1);
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgba(48, 127, 169, 0.5);
  background: linear-gradient(
    to top,
    rgba(48, 127, 169, 0.8) 0%,
    rgba(48, 127, 169, 0) 100%
  );
  color: Black;
}

