body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  Background-color: rgb(215, 230, 239);
  }

  /* Code for the Header */
h1 {
  position: relative;
  left: 35px
  }

.title {

  position: relative;
  right: 101%;
}

.title h2 {
  position: relative;
  right: 80px
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(48, 127, 169, 0.5);
  background: linear-gradient(to bottom, rgba(48, 127, 169, 0.8) 0%, rgba(48, 127, 169, 0) 100%);
  color: Black;
  margin-bottom: 5%;
  position: relative;
  z-index: 2;
}

.header a {
  color: rgb(156, 21, 21);
}

.container {
  display: flex;
  /* justify-content: center, space-evenly; */
  align-items: center;

}

.profile-pic img {
  display: flex;
  width: 200px;
  height: auto;
  opacity: 1;
  border-radius: 50%;
  position: relative;
  left: 200px
}

.container h2 {
  position: relative;
  left: 50px;
  right: 0;
  white-space: nowrap;
}


.container p { 
  position: relative;
  right: 0px;
  left: 350px;
  width: 600px;
  

}
/* Code for the Section under the Profile pic and About me */

#work h2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  
}

#work h2 {
  display: flex;
  margin: 0;
  padding-top: 300px
}

.container-section a img {
  display: block;
  width: 400px;
  height: 400px;
  opacity: 10;
  top: 300px;
  left: 300px;
  position: absolute;
  object-fit: cover;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(255, 255, 255, 0.5);
}

.card:hover .overlay {
  opacity: 1;
} 


main {
  position: relative;
  z-index: 1;

}


/* For header and footer */
ul, li {
  display: inline-block;
  margin-right: 50px;
}


.card {
  width: 30%;
  height: 200px;
  margin: 10px;
  position: relative;
}


.project-container-top-right {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 30%;
}

.project-container-bottom-right {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(48, 127, 169, 0.5);
  background: linear-gradient(to top, rgba(48, 127, 169, 0.8) 0%, rgba(48, 127, 169, 0) 100%);
  color: Black;
}